[submodule "EpenguinOJ-frontend"]
	path = EpenguinOJ-frontend
	url = https://github.com/hickwhither/EpenguinOJ-frontend.git
[submodule "CKTOJ_DISCORDBOT"]
	path = CKTOJ_DISCORDBOT
	url = https://github.com/hickwhither/CKTOJ_DISCORDBOT.git
[submodule "HWOJ-backend"]
	path = HWOJ-backend
	url = https://github.com/hickwhither/HWOJ-backend.git
[submodule "HWOJ-judge"]
	path = HWOJ-judge
	url = https://github.com/hickwhither/HWOJ-judge.git
